/* main */
.header {
  text-align: center;
  width: 100vw;
  background-color: blanchedalmond;
  color: rgba(0, 0, 0, 0.8);
}

.main {
  display: flex;
}

.navbar {
  flex: 0 0 200px;
  height: 100vh;
  padding: 1.5em 2em;
  background-color: #f4f4f4;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0.5rem 0;
  font-size: large;
}

.content {
  flex: 1;
  margin: 0.5em 3.5em;
}

.content h3 {
  border-bottom: 2px solid gray;
  padding-bottom: 1em;
}